{{#each filteredBlogs}}
<div class = "section">
      <div class="card">
        <div class="card-title">
          <a href="/edit/{{id}}"><h1>{{this.title}}</h1></a><p>Created by {{this.user.username}} on {{@root.sessionData}}</p>
        </div>
        <div class="card-content">
          <p>{{this.content}}</p>
        </div>
      </div>
      </div>
    {{/each}}