{{#each blogs}}
      <div class="card">
        <div class="card-title background">
          <h1 class = 'color'>{{this.title}}</h1><p class=" color">Created by {{this.user.username}} on {{@root.date}}</p>
        </div>
        <div class="card-content">
          <a href="/blog/{{id}}">{{this.content}}</a>
        </div>
      </div>
    {{/each}}