  <section class = "section">
    {{log comments}}
      <div class = "card">
        <div class = "card-title">
          <h1>{{newData.title}}</h1><p>Created by {{newData.user.username}} on {{newData.current}}</p>
        </div>
        <div class = "card-content">
          <p>{{newData.content}}</p>
        </div>
      </div>
      <div>
      <div>
        {{#each comments}}
      <div class="card">
        <div class="card-title">
          <p>Created by {{this.user.username}} on {{@root.sessionData}}</p>
        </div>
        <div class="card-content">
          <p>{{this.comment}}</p>
        </div>
      </div>
    {{/each}}
      </div>
      <form class = 'sub-btn'>
        <div class = "comment-form">
          <div>
        <textarea class = "text" id = "comment" rows="7" cols="65">
          Leave a comment here
        </textarea>
        </div>
        <div>
        <button type = "submit">Submit comment</button>
        </div>
        </div>
      </form>
     <script src="../js/newcomment.js"></script>

  </section>
