{{#if loggedIn}}
{{log currentDay}}
  <section class = "section">
    {{#each blogs}}
      <div class = "card">
        <div class = "card-title">
          <h1>{{this.title}}</h1><p>Created by {{this.user.username}} on {{currentDay}}</p>
        </div>
        <div class = "card-content">
          <a href = '/blog/{{id}}'>{{this.content}}</a>
        </div>
      </div>
    {{/each}}
  </section>
{{else}}
  <a href="/login">Must sign in to view content</a>
{{/if}}